@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #54b2a9;
    box-sizing: border-box;
}

/* Header */

header{
    
    height: 60px;
    text-align: center;
    padding: 5px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    background-color: #009688;
}

h1{
    font-family: "Poppins";
    font-weight: 600;
    position: relative;
    bottom: 15px;
    color: white;
}

/* Section */

section div{
    text-align: center;
    align-items: center;
    background-color: #83d0c9;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    border-radius: 12px;
    box-shadow:10px 10px 20px black;
}

.quote{
    color: whitesmoke;
    text-align: center;   
    padding: 30px;
    font-size: 18px;
    font-family: "Poppins";
    font-style: italic;
}

.author{
    padding: 10px;
    color:white;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
}

/* Footer */
footer{
    color:white;
    font-weight: 600;
    height: 20px;
    position: relative;
    top:360px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: #35a79c;
    border-radius: 12px;
    box-shadow:5px 10px 10px black;

}